<ul class="horizontal">
  <li class="four align-h">
    <%= link_to(controller: "teams", action: "show", team_url: team.team_url) do %>
      <%= image_tag("football_ground.png", class: "wrapper-circle xs", alt: "team profile image") %>
    <% end %>
  </li>
  <li class="four align-h">
    <p><%= team.name %></p>
  </li>
  <li class="four align-h">
    <p><%= team.users_count %></p>
  </li>
</ul>