<section class="first" id="rank">
  <div class="container">
    <%= render partial: 'navbar' %>

    <!-- Actual Content -->
    <div class="row">
      <h5 class="u-pull-left">경기 일정</h5>
    </div>
    <div class="row">
    </div>
  </div>
</section>