<section class="first" id="cup-profile">
  <div class="container">
    <div class="row">
      <h5 class="u-pull-left">Share link</h5>
    </div>
    <div class="row">
      <div class="ten columns">
        <input class="input u-full-width" value="http://amaccer.com/cups/enccer" id="data-copy-link" disabled>
      </div>
      <div class="two columns copy">
        <button class="button copy button-primary" id="copy-link">
          <%= image_tag("link.png", class: "link") %>
        </button>
      </div>
    </div>
  </div>
</section>
<section>
</section>