<div class="row">
  <ul class="horizontal">
    <li class="four align-h">
      <p><%= @organizer.user.name %></p>
    </li>
    <li class="four align-h">
      <p><%= @organizer.user.phone %></p>
    </li>
    <li class="four align-h">
      <p><%= @organizer.user.age %></p>
    </li>
  </ul>  
</div>