<ul class="horizontal">
  <li class="four align-h">
    <p><%= organizer.user.name %></p>
  </li>
  <li class="four align-h">
    <p><%= organizer.user.email %></p>
  </li>
  <li class="four align-h">
    <p><%= organizer.user.age %></p>
  </li>
</ul>