<div class="two columns user-profile div-max-170">
  <img src="http://placehold.it/150x150" class="wrapper-circle small" alt="user profile image">
  <p class="username small"><%= current_user.email %></p>
</div>