<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>아마추어 축구대회 관리 서비스</title>

  <!-- Skeleton , Normalize CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="top">

  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-link" href="#" id="logo">HOME</a>
      <a class="navbar-link" target="_blank" href="http://enccer.com">Enccer</a>
      <a class="navbar-link" href="#team" id="logo">TEAM</a>
      <a class="navbar-link" href="#top" id="logo">TOP</a>
    </div>
  </nav>

  <section id="intro">
    <div class="container">
      <div class="row">
        <h2>아마추어 축구 대회 관리 서비스</h2>
        <h4>간편하게 대회를 개최하고 경기를 기록하세요</h4>
      </div>
      <form action="#">
        <div class="row eight columns offset-by-two">
          <div class="four columns">
            <input class="input u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
          </div>
          <div class="four columns">
            <input class="input u-full-width" type="password" placeholder="password" id="exampleEmailInput">
          </div>
          <div class="four columns">
            <input type="submit" class="u-full-width button " value="Sign up"/>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id="module">
    <div class="container">
      <div class="row">
        <h3>아마추어 축구대회에 최적화된 관리 기능</h3>
        <div class="four columns"></div>
        <div class="four columns"></div>
        <div class="four columns"></div>
      </div>
    </div>
  </section>

  <section id="team">
    <div class="container">
      <div class="row">
        <h3>만든 사람들</h3>
        <div class="row">
          <div class="four columns first-child">
            <%= image_tag("devsusu.jpg", class: "wrapper-circle", alt: "image for devsusu") %>
            <h5>최수빈(DevSusu)</h5>
            <p>공대축구부의 떨이 멤버. 축구를 잘하고 싶으나 왠지 코딩이 재미있는 20살</p>
          </div>
          <div class="four columns">
            <%= image_tag("jang.jpeg", class: "wrapper-circle", alt: "image for jang") %>
            <h5>장준기</h5>
            <p>2014년도 공대축구부 주장. 최수빈이 축구 먼저 더 열심히 해야한다고 생각하는중.</p>
          </div>
          <div class="four columns">
            <%= image_tag("choi.jpeg", class: "wrapper-circle", alt: "image for choi") %>
            <h5>최윤호</h5>
            <p>최수빈이 축구를 더 열심히 해야한다고 생각하는 2인. 2015년도 공대축구부 주장.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>
