<div class="row">
  <ul class="horizontal">
    <li class="four">
      <p><%= match.home_team.name %></p>
    </li>
    <li class="four">
      
    </li>
    <li class="four">
      <p><%= match.away_team.name %></p>
    </li>
  </ul>
</div>