<div class="row match-row">
  <%= link_to match, class: "match-row" do %>
    <ul class="horizontal match-row">
        <li class="four align-h">
          <p><%= match.home_team.name %></p>
        </li>
        <li class="four align-h">
        </li>
        <li class="four align-h">
          <p><%= match.away_team.name %></p>
        </li>
    </ul>
  <% end %>
</div>