body {
  font-family: 'Open Sans', sans-serif;
}

body a {
  color: #3A87BC;
  text-decoration: none;
}

body p {
  letter-spacing: .05em;
  margin-bottom: 10px;
}

.container h1, h2, h3, h4, h5 {
  text-align: center;
  margin-top: 2rem;
}

.row h3:first-child{
  margin-bottom: 4rem;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-text {
  color: #3A87BC;
  display: inline;
  float: right;
  font-size: 15px;
  line-height: 6rem;
  margin: 0;
}

section.first {
  margin-top: 60px;
}

#intro {
  color: #222;
}
#module {
  background: #eee;
  color: #000;
}

#profile {
}

.navbar-link {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 6rem;
  margin-right: 10px;
  font-size: 15px;
  color: #3A87BC;
}

section .container:first-child {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  min-height: 300px;
  text-align: center;
}

.big {
  font-size: 100px;
}

.button-small {
  min-height: 30px;
  line-height: 30px;
  padding: auto 0;
  font-size: 12px;
  text-align: center;
}

.input, .button{
  min-height: 50px;
  line-height: 50px;
  padding: auto 0;
  font-size: 15px;
  text-align: center;
}

.first-child {
  margin-left: 0;
}

img.wrapper-circle {
  border-radius: 50%;
  border: 6px solid #eee;
  max-width: 150px;
  width: 90%;
}

img.small {
  max-width: 100px;
}

.login-nav {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 6rem;
  margin-right: 10px;
  font-size: 15px;
  color: #3A87BC;
}

#error-explanation {
  text-decoration: none;
  font-size: 12px;
  color: #DB4437;
  float: left;
}

.username {
  font-size: 12px;
}

.event-holder {
  border-radius: 7px;
  margin-bottom: 20px;
}

.event-holder.empty {
  border: 2px dashed #d8d8d8;
  padding-top: 55px;
  padding-bottom: 55px;
}

.team-holder {
  margin-bottom: 20px;
  border-radius: 7px;
  border: 2px solid #d8d8d8;
}
.team-holder.empty{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 109px;
  padding-bottom: 109px;
  border: 2px dashed #d8d8d8; 
}

.team-background {
  background: url("http://placehold.it/600x250");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px;
}

div.up-50 {
  position: relative;
  top: -50px;
}

img.max-30 {
  max-width: 30px;
  max-height: 30px;
}

.div-max-170 {
  max-height: 170px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.point {
  color: #3A87BC;
}

p.label {
  margin-bottom: 5px;
  font-size: 12px;
  text-align: left;
}
p.team-name {
  font-size: 17px;
  color: #3A87BC;
}

.error {
  color: #DB4437;
}
ul.error {
  font-size: 12px;
  text-align: left; 
  margin-bottom: 5px;
}
.error li {
  margin-bottom: 5px; 
}

strong {
  color: #3A87BC;
}
.half {
  width: 100% !important;
}
@media (min-width: 700px) {
  .half {
    width: 50% !important;
  }
}
.u-no-margin {
  margin: 0 !important;
}

.feature-header {
  display: inline-block;
  padding-bottom: 15px;
  margin: 0 auto 15px auto;
  border-bottom: 1px solid #aaa;
}

.feature-description {
  max-height: 400px;
  padding: 35px 0;
}

.homepage-feature {
  height: 400px;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}