body {
  font-family: 'Open Sans', sans-serif;
}

body a {
  color: #3A87BC;
  text-decoration: none;
}

body p {
  letter-spacing: .05em;
  margin-bottom: 10px;
}

.container h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 2rem;
}

.row h3:first-child{
  margin-bottom: 4rem;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-text {
  color: #3A87BC;
  display: inline;
  float: right;
  font-size: 15px;
  line-height: 6rem;
  margin: 0;
}

section.first {
  margin-top: 60px;
}

#intro {
  color: #222;
}

#module {
  background: #3A87BC;
  color: white;
}

#profile {
}

.navbar-link {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 6rem;
  margin-right: 10px;
  font-size: 15px;
  color: #3A87BC;
}

section .container:first-child {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  min-height: 300px;
  text-align: center;
}

.big {
  font-size: 100px;
}

.button-small {
  min-height: 30px;
  line-height: 30px;
  padding: auto 0;
  font-size: 12px;
  text-align: center;
}

.input, .button{
  min-height: 50px;
  padding: auto 0;
  font-size: 15px;
  text-align: center;
}

.first-child {
  margin-left: 0;
}

img.wrapper-circle {
  border-radius: 50%;
  border: 6px solid #eee;
  max-width: 150px;
  width: 90%;
}

img.small {
  max-width: 100px;
}
p.small {
  font-size: 9px;
}

.login-nav {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 6rem;
  margin-right: 10px;
  font-size: 15px;
  color: #3A87BC;
}

#error-explanation {
  text-decoration: none;
  font-size: 12px;
  color: #DB4437;
  float: left;
}

.username {
  font-size: 12px;
}

.event-holder {
  border-radius: 7px;
  margin-bottom: 20px;
}

.event-holder.empty {
  border: 2px dashed #d8d8d8;
  padding-top: 55px;
  padding-bottom: 55px;
}

.team-holder {
  margin-bottom: 20px;
  border-radius: 7px;
  border: 2px solid #d8d8d8;
}
.team-holder.empty{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 109px;
  padding-bottom: 109px;
  border: 2px dashed #d8d8d8; 
}

.team-background {
  background: url("http://placehold.it/250x250");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px;
}

#team-profile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px; 
}

div.up-50 {
  position: relative;
  top: -50px;
}

img.max-30 {
  max-width: 30px;
  max-height: 30px;
}

img.link {
  padding: 15px 5px;
  height: 20px;
}

.div-max-170 {
  max-height: 170px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.point {
  color: #3A87BC;
}

p.label {
  margin-bottom: 5px;
  font-size: 12px;
  text-align: left;
}
p.team-name {
  font-size: 17px;
  color: #3A87BC;
}

.error {
  color: #DB4437;
}
ul.error {
  font-size: 12px;
  text-align: left; 
  margin-bottom: 5px;
}
.error li {
  margin-bottom: 5px; 
}

strong {
  color: #3A87BC;
}

div.copy {
  margin-left: 0;
}
button.copy {
  width: 100%;
}

@media (min-width: 850px) {
  button.copy {
    position: relative;
    left: -2px;
    border-radius: 0 2px 2px 0;
  }
}

input.copy {
  position: relative;
  left: -2px;
  width: 100%;
  border-radius: 0 2px 2px 0;
  cursor: alias;
}